@CHARSET "UTF-8";
iframe {
    border: none;
    display: block;
}

.box1{
        background: url(../images/bg_01.jpg) no-repeat;
        background-size: cover;
        overflow-x: hidden;
       
    }
    .fa-login {
        font-size: 12px;
        line-height: 24px;
        text-align: center;
    }
    .fa-login:hover {
        text-decoration: none;
        color: #1A3245 !important;
    }
    .fa-login:hover i {
        color: #1A3245;
    }
    .fa-login i {
        font-size: 32px;
        display: block;
    }
    .h3 {
        font-size: 14px;
        font-weight: normal;
        color: #777;
        border-bottom: 1px solid #aaa;
        text-align: center;
        padding-bottom: 15px;
    }

html {
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
}

input.form-control {
    box-sizing: content-box;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

@media all and (-ms-high-contrast:none) {
    *::-ms-backdrop,
    .form-control {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #e5e5e5;
    font-size: 13px;
    color: #353535;
    border-radius: 3px;
}

a {
    color: #353535;
}

a:hover,
a:focus {
    color: #353535;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    outline: none !important;
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
    font-size: 13px;
    font-weight: normal;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.container {
    background: #f0f0f0;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    font-size: 16px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    border-radius: 5px;
}

#bs-example-navbar-collapse-9 .navbar-nav>li>a {
    border-radius: 0px;
    padding: 15px 30px;
    font-size: 15px;
}

.left-nav .fa {
    width: 18px;
    text-align: center;
}



/** login **/

.login {}
.login .page-title {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    line-height: 30px;
    text-shadow: 0 0 5px #8abfd1, 0 0 5px #f87;
}
.login .page-form {
    width: 420px;
    margin: 20px auto 30px auto;
    padding: 25px 0px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.login .page-form .form-body {
    width: 292px;
    margin: 0 auto;
}

.login .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login .input-icon {
    position: relative;
    margin: 5px 0;
}

.login .input-icon>.fa {
    position: absolute;
    left: 15px;
    top: 13px;
    color: #999;
    font-size: 16px;
}

.login .form-control {
    padding: 10px 0 10px 45px;
    font-size: 14px;
    height: 42px;
}

.left-nav {
    padding-right: 15px;
}

.common-body {
    background: #284B62
}

.left-body .nav-stacked>li+li {
    margin-top: 0;
    padding: 3px 0;
}

.left-body .nav-stacked>li {
    background: #2e568c;
    outline: none;
    color: #d9d9d9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.left-body .nav-stacked>li>a {
    color: #f9f9f9;
    font-size: 14px;
    border-radius: 0;
    font-weight: normal;
    padding: 15px;
}

.left-body .nav>li>a:hover,
.left-body .nav>li>a:focus {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.18);
}

.right-body .breadcrumb {
    padding: 3px 5px;
    margin-bottom: 3px;
    list-style: none;
    background: none;
    border-radius: 4px;
}

.right-body .breadcrumb li,
.right-body .breadcrumb li a {
    font-size: 12px;
}

.right-body .breadcrumb li,
.right-body .breadcrumb li a:hover {
    text-decoration: none;
}

.right-body .breadcrumb>li+li:before {
    content: '\f101';
    padding: 0 10px;
    font: normal normal normal 10px/1 FontAwesome;
    color: #999;
}

.right-body .section {
    margin: 15px;
}

.right-body .page-header {
    padding-bottom: 2px;
    margin: 10px 0 10px;
    border-bottom: 1px solid #ccc;
}

.right-body form label {
    font-weight: normal;
}

.right-body form label small {
    font-weight: normal;
    color: #aaa;
    -webkit-text-size-adjust: none;
    font-size: 11px;
}

.right-body .icon-wrapper {
    font-size: 12px;
    font-weight: normal;
    color: #aaa;
}

.right-body .rgx-delete {
    cursor: pointer;
}

.right-body .rgx-delete:hover {
    text-decoration: none;
}

.right-body .rgx-delete .icon-wrapper i {
    color: #a94442;
}

.right-body .pagination {
    margin: 10px auto;
}

.right-body .message-box {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
    border: 1px solid rgba(0, 0, 0, .2);
}

.right-body .message-box .panel-heading {
    background: none;
    border-color: #333;
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.right-body .message-box .panel-heading .panel-title {
    color: #353535;
    font-weight: normal;
    font-size: 15px;
}

.right-body .message-box .panel-body {
    padding: 15px;
    text-align: center;
    line-height: 35px;
}

.right-body .message-box .panel-footer {
    background: #fff;
}

.right-body .lead {
    background: #f0f0f0;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.right-body .dropdown-menu {
    min-width: 78px;
}

.right-body .dropdown-menu>li>a {
    padding: 3px 10px;
}

.right-body .tab-pane {
    padding: 20px 10px;
}

.opts-label {
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: normal;
}

.opts-label sup {
    font-size: 13px;
    color: #efefef;
    font-weight: normal;
    cursor: pointer;
}
.text-center{
    color:#fff;
    font-size: 13px;
}

.opts-label sup:hover {
    color: #F40009;
}

.rgx-text-title {
    font-size: 13px;
    font-weight: normal;
    color: #595959;
}

span.rgx-date {
    font-size: 12px;
    color: #666;
}

.order-label {
    font-weight: normal;
    font-size: 13px;
}

.order-label-1 {
    background: #777;
}

.order-label-2 {
    background: #d9534f;
}

.order-label-3 {
    background: #f0ad4e;
}

.order-label-4 {
    background: #428bca
}

.order-label-5 {
    background: #5cb85c;
}

#goods-price,
.price {
    color: #c33;
    font-size: 14px;
}

tr.order-tr td {
    padding: 10px;
}

ul.order-products {
    list-style: none;
    display: block;
    margin: 10px 0;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

ul.order-products li {
    display: block;
    float: left;
    width: 150px;
    text-align: center;
    margin-right: 10px;
}

ul.order-products li img {
    border: 1px solid #eee;
    border-radius: 3px;
    width: 150px;
}

ul.order-products li p {
    font-size: 11px;
    line-height: normal;
    text-align: left;
    height: 56px;
    margin-top: 6px;
    line-height: 18px;
}

div.order-info {
    padding: 0 0 15px 0;
    border-bottom: 1px dashed #999;
    margin: 5px 0;
}

div.order-summary {
    font-size: 12px;
    color: #666;
    text-align: right;
}

td.order-label {
    font-size: 12px;
    text-align: center;
    color: #595959;
}

#search {
    padding: 15px 0;
    margin: 10px 0 0 0;
}

#search #search-opt {
    width: 80px;
}

.section .product-prop {
    width: 90%;
    text-align: left;
    padding-top: 5px;
}

.section .product-prop p {
    margin: 0;
    padding: 0;
    line-height: 20px;
    color: #333;
    font-size: 14px;
}

.section .product-prop label {
    font-weight: normal;
    font-size: 13px;
    color: #555;
}

.weight-normal {
    font-weight: normal;
}

.filter {
    border: 1px solid #eee;
    margin-bottom: 15px;
    border-radius: 6px;
}

.filter-wrapper .navbar-nav>li>a {
    padding: 10px 10px;
}

.filter-wrapper span {
    display: inline-block;
    width: 8px;
    height: 28px;
    line-height: 0;
    vertical-align: middle;
}

.filter-wrapper .navbar-nav>li>a {
    padding: 10px;
    color: #353535;
}

.filter-wrapper .navbar-nav>li>small {
    padding: 10px;
    line-height: 19px;
    vertical-align: middle;
    display: block;
    color: #aaa;
    width: 20px;
    text-align: center;
}

.filter-wrapper .navbar-nav>li>a i {
    font-size: 12px;
    color: #ccc;
}

.filter-wrapper .navbar-nav>li>a i.fa-long-arrow-up {
    display: none;
}

.filter-wrapper .navbar-nav>li.active-asc a i.fa-long-arrow-up {
    display: inline-block;
    color: #428bca;
}

.filter-wrapper .navbar-nav>li.active-asc>a i.fa-long-arrow-down {
    display: none;
}

.filter-wrapper .navbar-nav>li.active-desc a i.fa-long-arrow-up {
    display: none;
}

.filter-wrapper .navbar-nav>li.active-desc>a i.fa-long-arrow-down {
    display: inline-block;
    color: #d9534f
}

.filter-wrapper .navbar-nav>li.active-bg {
    background: #d9edf7;
}

.attr_desc {
    padding: 0px 0 5px 0;
}

.attr_desc p {
    line-height: 20px;
    font-size: 13px;
    margin: 0;
}

.trans {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

code.code-9 {
    color: #fff;
    background-color: #777;
}

code.code-2 {
    color: #fff;
    background-color: #a94442;
}

code.code-1 {
    color: #fff;
    background-color: #f0ad4e;
}

code.code-3 {
    color: #fff;
    background-color: #5cb85c;
}

code.code-4 {
    color: #999;
    background-color: #f0f0f0;
}

.list_attr {
    padding: 10px 0;
}

.list_attr p {
    margin: 3px 0;
    font-size: 13px4
}

span.separator {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 5px;
    background-color: #ddd;
}

span.item {
    display: inline-block;
    min-width: 40px;
    text-align: center;
    padding: 0 5px;
}

span.value {
    display: inline-block;
    min-width: 20px;
    text-align: center;
    padding: 0 5px;
}

.nav-item .nav-stacked {
    display: none;
}

.nav-item .nav-stacked li.nav-item {
    background-color: #1A3245;
}

.nav-item .nav-stacked li.nav-item a {
    padding-left: 30px;
    background-color: #1A3245;
}

.nav-item .nav-stacked li.nav-item:hover a {
    background-color: #284B62;
    color: #fff;
}



/**
 * 积分充值
 */

.points_recharge {
    margin-top: 5px;
}

.points_recharge .points_recharge_item {
    display: inline-block;
    border-radius: 4px;
    margin: 5px 15px 10px 0;
    color: #63bf5c;
    font-size: 14px;
    cursor: pointer;
    width: 100px
}

.points_recharge .points_recharge_item b {
    display: block;
    text-align: center;
    font-weight: normal;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 35px;
    line-height: 35px;
}

.points_recharge .points_recharge_item:hover b,
.points_recharge .points_recharge_item.active b {
    background: #63bf5c;
    color: #fff;
    border: 1px solid #63bf5c;
}

.points_recharge .points_recharge_item:hover span,
.points_recharge .points_recharge_item.active span {
    border: 1px solid #d9534f;
    border-left: none;
}

.points_recharge .points_payment {
    display: block;
    margin-right: 20px;
    width: 120px;
    height: 50px;
    border: 2px solid #f0f0f0;
    padding: 5px 10px;
    border-radius: 3px;
    float: left;
    line-height: 32px;
    cursor: pointer;
    opacity: 0.8
}

.points_recharge .points_payment img {
    width: 100%;
}

.points_recharge .points_payment:hover,
.points_recharge .points_payment.active {
    border-color: #63bf5c;
    opacity: 1
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    line-height: 1.42857;
    vertical-align: top;
    padding: 3px;
    font-size: 13px;
    border-top: 1px solid rgb(221, 221, 221);
}

.common-link {
    font-size: 12px;
    color: #353535;
}

#card .form-group {
    clear: both;
    height: 32px;
    margin: 5px 0;
}

#card .form-group .control-label {
    width: 15%;
    float: left;
    text-align: right;
    padding-right: 10px;
    line-height: 28px;
    font-size: 13px;
}

#card .form-group .control-label small {
    display: none;
}

#card .form-group .form-control {
    width: 80%;
    float: left;
    padding-left: 5px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
}

#card .form-group select.form-control {
    height: 28px;
    line-height: 28px;
}

#card .form-group span.form-control {
    font-size: 13px;
}

#filter_bar {
    margin: 5px 0 15px 0;
}

#filter_bar .col-md-3,
#filter_bar .col-md-4,
#filter_bar .col-md-5,
#filter_bar .col-md-6 {
    padding: 0 5px 0 0;
}

.data-input-group {
    text-align: center;
}

.data-input-group .form-control-text {
    float: left;
    width: 10%;
    line-height: 32px;
    color: #999;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    font-size: 12px;
}

.data-input-group .form-control:first-child {
    float: left;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 45%;
    font-size: 12px;
}

.data-input-group .form-control:last-child {
    float: right;
    width: 45%;
    font-size: 12px;
}

.separator {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 3px;
    background-color: #ddd;
}

.filter_options {
    display: inline;
    width: 100%;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
}

#filter_bar #filter_search_btn {
    display: inline-block;
    background-color: #5cb85c;
    padding: 4px 15px;
    margin: 0 10px;
    border-radius: 3px;
    color: #fff;
}

#filter_bar a {
    color: #555;
}


.filter_select_input {
    width: 200px;
    float: left;
    margin: 0 5px 0 0;
}

.filter_select {
    min-width: 60px;
    float: left;
    margin: 0 5px 0 0;
}

.filter_select .input-group-btn:last-child>.btn,
.filter_select .input-group-btn:last-child>.btn-group {
    border-radius: 3px;
}

.filter_region {
    width: 120px;
    float: left;
    margin: 0 5px 0 0;
}

.filter_region #select_region {
    width: 120px;
    height: 34px;
}

.filter_date {
    float: left;
    width: 300px;
    margin: 0 5px 0 0;
}

.date-picker {
    font-size: 12px;
}

span.search_type {
    font-size: 12px;
    color: #666;
}

.search_key {
    font-size: 12px;
}

.filter_mfdate {
    float: left;
    width: 320px;
    margin: 0 5px 0 0;
}

.filter_range {
    float: left;
    width: 240px;
    margin: 0 5px 0 0;
}


label.row_checkbox_wraper {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 20px;
    cursor: pointer;
}

label.row_checkbox_wraper input[type="checkbox"] {
    font-size: 48px;
}

#bottm-toolbar {
    margin: 15px 0;
    line-height: 30px;
}

.btn .caret {
    margin-top: -3px;
    line-height: normal;
}



/** 
 
 @Name： laydate皮肤：默认
 @Author：贤心
 @Site：http://sentsin.com/layui/laydate
 
**/

.laydate_body .laydate_box,
.laydate_body .laydate_box * {
    margin: 0;
    padding: 0;
}

.laydate-icon,
.laydate-icon-default,
.laydate-icon-danlan,
.laydate-icon-dahong,
.laydate-icon-molv {
    height: 22px;
    line-height: 22px;
    padding-right: 20px;
    border: 1px solid #C6C6C6;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #fff;
    outline: 0;
}

.laydate-icon-default {
    background-image: url(../images/icon.png)
}

.laydate-icon-danlan {
    border: 1px solid #B1D2EC;
    background-image: url(../images/icon.png)
}

.laydate-icon-dahong {
    background-image: url(../images/icon.png)
}

.laydate-icon-molv {
    background-image: url(../images/icon.png)
}

.laydate_body .laydate_box {
    width: 240px;
    font: 12px '\5B8B\4F53';
    z-index: 99999999;
    *margin: -2px 0 0 -2px;
    *overflow: hidden;
    _margin: 0;
    _position: absolute!important;
    background-color: #fff;
}

.laydate_body .laydate_box li {
    list-style: none;
}

.laydate_body .laydate_box .laydate_void {
    cursor: text!important;
}

.laydate_body .laydate_box a,
.laydate_body .laydate_box a:hover {
    text-decoration: none;
    blr: expression(this.onFocus=this.blur());
    cursor: pointer;
}

.laydate_body .laydate_box a:hover {
    text-decoration: none;
}

.laydate_body .laydate_box cite,
.laydate_body .laydate_box label {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: dashed;
    border-color: transparent;
    overflow: hidden;
    cursor: pointer;
}

.laydate_body .laydate_box .laydate_yms,
.laydate_body .laydate_box .laydate_time {
    display: none;
}

.laydate_body .laydate_box .laydate_show {
    display: block;
}

.laydate_body .laydate_box input {
    outline: 0;
    font-size: 14px;
    background-color: #fff;
}

.laydate_body .laydate_top {
    position: relative;
    height: 26px;
    padding: 5px;
    *width: 100%;
    z-index: 99;
}

.laydate_body .laydate_ym {
    position: relative;
    float: left;
    height: 26px;
    cursor: pointer;
}

.laydate_body .laydate_ym input {
    float: left;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.laydate_body .laydate_ym .laydate_yms {
    position: absolute;
    left: -1px;
    top: 24px;
    height: 181px;
}

.laydate_body .laydate_y {
    width: 121px;
    margin-right: 6px;
}

.laydate_body .laydate_y input {
    width: 64px;
    margin-right: 15px;
}

.laydate_body .laydate_y .laydate_yms {
    width: 121px;
    text-align: center;
}

.laydate_body .laydate_y .laydate_yms a {
    position: relative;
    display: block;
    height: 20px;
}

.laydate_body .laydate_y .laydate_yms ul {
    height: 139px;
    padding: 0;
    *overflow: hidden;
    overflow-y: scroll;
}

.laydate_body .laydate_y .laydate_yms ul li {
    float: left;
    width: 58px;
    height: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.laydate_body .laydate_m {
    width: 99px;
}

.laydate_body .laydate_m .laydate_yms {
    width: 99px;
    padding: 0;
}

.laydate_body .laydate_m input {
    width: 42px;
    margin-right: 15px;
}

.laydate_body .laydate_m .laydate_yms span {
    display: block;
    float: left;
    width: 42px;
    margin: 5px 0 0 5px;
    line-height: 24px;
    text-align: center;
    _display: inline;
}

.laydate_body .laydate_choose {
    display: block;
    float: left;
    position: relative;
    width: 20px;
    height: 24px;
}

.laydate_body .laydate_choose cite,
.laydate_body .laydate_tab cite {
    left: 50%;
    top: 50%;
}

.laydate_body .laydate_chtop cite {
    margin: -7px 0 0 -5px;
    border-bottom-style: solid;
}

.laydate_body .laydate_chdown cite,
.laydate_body .laydate_ym label {
    top: 50%;
    margin: -2px 0 0 -5px;
    border-top-style: solid;
}

.laydate_body .laydate_chprev cite {
    margin: -5px 0 0 -7px;
}

.laydate_body .laydate_chnext cite {
    margin: -5px 0 0 -2px;
}

.laydate_body .laydate_ym label {
    right: 28px;
}

.laydate_body .laydate_table {
    width: 230px;
    margin: 0 5px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.laydate_body .laydate_table td {
    width: 31px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}

.laydate_body .laydate_table thead {
    height: 22px;
    line-height: 22px;
}

.laydate_body .laydate_table thead th {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.laydate_body .laydate_bottom {
    position: relative;
    height: 30px;
    line-height: 20px;
    padding: 5px;
    font-size: 12px;
    border: none;
}

.laydate_body .laydate_bottom #laydate_hms {
    position: relative;
    z-index: 1;
    float: left;
}

.laydate_body .laydate_time {
    position: absolute;
    left: 5px;
    bottom: 26px;
    width: 129px;
    height: 125px;
    *overflow: hidden;
}

.laydate_body .laydate_time .laydate_hmsno {
    padding: 5px 0 0 5px;
}

.laydate_body .laydate_time .laydate_hmsno span {
    display: block;
    float: left;
    width: 24px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    *margin-bottom: -5px;
}

.laydate_body .laydate_time1 {
    width: 228px;
    height: 154px;
}

.laydate_body .laydate_time1 .laydate_hmsno {
    padding: 6px 0 0 8px;
}

.laydate_body .laydate_time1 .laydate_hmsno span {
    width: 21px;
    height: 20px;
    line-height: 20px;
}

.laydate_body .laydate_msg {
    left: 49px;
    bottom: 67px;
    width: 141px;
    height: auto;
    overflow: hidden;
}

.laydate_body .laydate_msg p {
    padding: 5px 10px;
}

.laydate_body .laydate_bottom li {
    float: left;
    height: 20px;
    line-height: 20px;
    border-right: none;
    font-weight: 900;
}

.laydate_body .laydate_bottom .laydate_sj {
    width: 33px;
    text-align: center;
    font-weight: 400;
}

.laydate_body .laydate_bottom input {
    float: left;
    width: 21px;
    height: 20px;
    line-height: 20px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
}

.laydate_body .laydate_bottom .laydte_hsmtex {
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.laydate_body .laydate_bottom .laydte_hsmtex span {
    position: absolute;
    width: 20px;
    top: 0;
    right: 0px;
    cursor: pointer;
}

.laydate_body .laydate_bottom .laydte_hsmtex span:hover {
    font-size: 14px;
}

.laydate_body .laydate_bottom .laydate_btn {
    position: absolute;
    right: 5px;
    top: 5px;
}

.laydate_body .laydate_bottom .laydate_btn a {
    float: left;
    height: 20px;
    padding: 0 6px;
    _padding: 0 5px;
}

.laydate_body .laydate_bottom .laydate_v {
    position: absolute;
    left: 10px;
    top: 6px;
    font-family: Courier;
    z-index: 0;
}



.laydate-icon {
    border: 1px solid #C6C6C6;
    background-image: url(../images/icon.png)
}

.laydate_body .laydate_box,
.laydate_body .laydate_ym,
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_table,
.laydate_body .laydate_table td,
.laydate_body .laydate_bottom #laydate_hms,
.laydate_body .laydate_time,
.laydate_body .laydate_bottom .laydate_btn a {
    border: 1px solid #ccc;
}

.laydate_body .laydate_y .laydate_yms a,
.laydate_body .laydate_choose,
.laydate_body .laydate_table thead,
.laydate_body .laydate_bottom .laydte_hsmtex {
    background-color: #F6F6F6;
}

.laydate_body .laydate_box,
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_time {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
}

.laydate_body .laydate_box {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
    color: #333;
}

.laydate_body .laydate_box input {
    color: #333;
}

.laydate_body .laydate_box .laydate_void {
    color: #ccc!important;
    /*text-decoration:line-through;*/
}

.laydate_body .laydate_box .laydate_void:hover {
    background-color: #fff!important
}

.laydate_body .laydate_box a,
.laydate_body .laydate_box a:hover {
    color: #333;
}

.laydate_body .laydate_box a:hover {
    color: #666;
}

.laydate_body .laydate_click {
    background-color: #eee!important;
}

.laydate_body .laydate_top {
    border-top: 1px solid #C6C6C6;
    height: 34px;
}

.laydate_body .laydate_ym .laydate_yms {
    border: 1px solid #C6C6C6;
    background-color: #fff;
}

.laydate_body .laydate_y .laydate_yms a {
    border-bottom: 1px solid #C6C6C6;
}

.laydate_body .laydate_y .laydate_yms .laydate_chdown {
    border-top: 1px solid #C6C6C6;
    border-bottom: none;
}

.laydate_body .laydate_choose {
    border-left: 1px solid #C6C6C6;
}

.laydate_body .laydate_chprev {
    border-left: none;
    border-right: 1px solid #C6C6C6;
}

.laydate_body .laydate_choose:hover,
.laydate_body .laydate_y .laydate_yms a:hover {
    background-color: #fff;
}

.laydate_body .laydate_chtop cite {
    border-bottom-color: #666;
}

.laydate_body .laydate_chdown cite,
.laydate_body .laydate_ym label {
    border-top-color: #666;
}

.laydate_body .laydate_chprev cite {
    border-right-style: solid;
    border-right-color: #666;
}

.laydate_body .laydate_chnext cite {
    border-left-style: solid;
    border-left-color: #666;
}

.laydate_body .laydate_table td {
    border: none;
    height: 21px!important;
    line-height: 21px!important;
    background-color: #fff;
}

.laydate_body .laydate_table .laydate_nothis {
    color: #999;
}

.laydate_body .laydate_table thead {
    height: 21px!important;
    line-height: 21px!important;
}

.laydate_body .laydate_table thead th {
    border-bottom: 1px solid #ccc;
}

.laydate_body .laydate_bottom {
    border-bottom: 1px solid #C6C6C6;
}

.laydate_body .laydate_bottom #laydate_hms {
    background-color: #fff;
}

.laydate_body .laydate_time {
    background-color: #fff;
}

.laydate_body .laydate_bottom .laydate_sj {
    border-right: 1px solid #C6C6C6;
    background-color: #F6F6F6;
}

.laydate_body .laydate_bottom input {
    background-color: #fff;
}

.laydate_body .laydate_bottom .laydte_hsmtex {
    border-bottom: 1px solid #C6C6C6;
}

.laydate_body .laydate_bottom .laydate_btn {
    border-right: 1px solid #C6C6C6;
}

.laydate_body .laydate_bottom .laydate_v {
    color: #999
}

.laydate_body .laydate_bottom .laydate_btn a {
    border-right: none;
    background-color: #F6F6F6;
}

.laydate_body .laydate_bottom .laydate_btn a:hover {
    color: #000;
    background-color: #fff;
}

.laydate_body .laydate_m .laydate_yms span:hover,
.laydate_body .laydate_y .laydate_yms ul li:hover,
.laydate_body .laydate_table td:hover,
.laydate_body .laydate_time .laydate_hmsno span:hover {
    background-color: #F3F3F3
}



.btn-primary {
    background: #2271cf;
    border-color: #2586cd;
}

#login-btn {
    width: 100%;
    font-size: 24px;
    letter-spacing: 2px;
}

.navbar-inverse {
    background: #2e568c;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background: #2e568c;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background: rgba(0, 0, 0, 0.18);
}

.navbar-inverse .navbar-nav>li>a {
    color: #ccc;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    padding: 2px;
    padding-left: 10px;
}

.left-body .nav-stacked>li>a>span {
    display: inline-block;
    width: 26px;
    text-align: center;
}

#right_nav {
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 100;
    display: none;
}

#right_nav .down ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#right_nav .down li {
    background: #fff;
    margin-top: 3px;
    width: 50px;
    height: 50px;
    border: 1px solid #f1f1f1;
    position: relative;
}

#right_nav .down a {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/right_nav_p.png) no-repeat;
    margin: 5px;
}

#right_nav .down .a1 {
    background-position: 0 0;
}

#right_nav .down .a2 {
    background-position: 0 0;
}

#right_nav .down .a3 {
    background-position: 0 -80px;
}

#right_nav .down .a4 {
    background-position: 0 -120px;
}

#right_nav .p_cont {
    position: absolute;
    border: 1px solid #ececec;
    background: #FFF;
}

#right_nav .a4_cont {
    display: none;
    text-align: center;
    top: -110px;
    left: -170px;
    border: 1px solid #ececec;
}

#right_nav .a4_right {
    position: absolute;
    left: 156px;
    top: 124px;
    width: 20px;
    height: 20px;
    background: url(../images/title_pic.png) no-repeat;
    background-position: 0 -182px;
}

#right_nav .a4_cont img {
    width: 140px;
    height: 140px;
    padding: 10px;
}

#right_nav .a4_cont p {
    margin: 5px 0;
}

.form-horizontal .control-label {
    font-size: 13px;
    color: #666;
}

.form-group small {
    font-size: 12px;
    color: #7592a7;
    line-height: 20px;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
    border-bottom-width: 1px;
    font-weight: normal;
    font-size: 13px;
    color: #555;
}
.input-label {
    font-size: 14px;
    color: #555;
    line-height: 36px;
    display: block;
    height: 36px;
    vertical-align: middle;
}
.form-block {
    padding: 5px 0;
    height: 50px;
}
.form-block small {
    color: #999;
}
table.table-common {}
table.table-common tr.table-title {
}
table.table-common tbody tr td {
    padding: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}
table.table-common tbody tr td:last-child {
    border-right: none;
}
table.table-common tbody tr:first-child td {
    border-top: none;
}
.soft_logo {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background-size: contain;
    border-radius: 8px;
}
.soft_logo_login {
    display: inline-block;
    margin: 0 2px;
    width: 40px;
    height: 40px;
    background-size: contain;
    border-radius: 5px;
}
.soft_logo_1 {
    background-image:url(../images/soft_1.jpg);
}
.soft_logo_2 {
    background-image:url(../images/soft_2.jpg);
}
.soft_logo_3 {
    background-image:url(../images/soft_3.jpg);
}
.soft_logo_4 {
    background-image:url(../images/soft_4.jpg);
}
.login_logo_1 {
    background-image:url(../images/logo_1.jpg);
}
.login_logo_2 {
    background-image:url(../images/logo_2.jpg);
}
.btn-link {
    color: #3282db;
    font-weight: normal;
    border-radius: 0;
}