<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link href="__WUJI__/css/discuz.css" id="lhgdialoglink" rel="stylesheet"/>
    <title>
        软件市场 - 无极软件后台管理系统
    </title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="__ADMIN__/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="__ADMIN__/css/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="__ADMIN__/css/base.css" rel="stylesheet"/>
</head>
<body style="">

<table class="table table-bordered  definewidth m20 tC7"> <!--------------------------------挂机宝-->
    <tbody><tr>
        <th colspan="4" style="background-color:#F5F5F5;"><img src="/Public/admin/images/gjb.png" class="L"><span class="family f24 L" style="margin:10px 0 0 10px;">挂机宝</span></th>
    </tr>
    <tr>
        <td width="10%">挂机宝随机版</td>
        <td>价格说明：以机器为倍数，1天卡2元（200点），10天卡6元（600点），30天卡15元（1500点），最低5个起开</td>
        <td width="10%" style="text-align:center;"><a href="{:U('Good/create_gjb_rand')}" class="btn btn-mini  btn-success">我要开卡</a></td>
    </tr>
    <tr>
        <td width="10%">挂机宝固定版</td>
        <td>价格说明：以机器为倍数，1天卡2元（200点），10天卡6元（600点），30天卡15元（1500点），最低5个起开</td>
        <td width="10%" style="text-align:center;"><a href="{:U('Good/create_gjb_fixed')}" class="btn btn-mini  btn-success">我要开卡</a></td>
    </tr>
    <tr>
        <td colspan="4"><a href="http://down.54nb.com/20180818a.exe">挂机宝下载</a>&nbsp;&nbsp;<a href="http://www.54nb.com/guajibao/api/sdk.zip">SDK下载</a></td>
    </tr>
    </tbody></table>

<table class="table table-bordered  definewidth m40 tC7"> <!--------------------------------无极-->
    <tbody><tr>
        <th colspan="4" style="background-color:#F5F5F5;"><img src="/Public/admin/images/wuji.png" class="L"><span class="family f24 L" style="margin:10px 0 0 10px;">无极</span></th>
    </tr>
    <tr>
        <td width="10%">无极共享版</td>
        <td>价格说明：以机器为倍数，1天卡2元（200点），10天卡9元（900点），30天卡20元（2000点），最低5个起开</td>
        <td width="10%" style="text-align:center;"><a href="{:U('Good/create_wuji')}" class="btn btn-mini  btn-success">我要开卡</a></td>
    </tr>
    <tr>
        <td width="10%">无极独享版</td>
        <td>价格说明：以机器为倍数，1天卡5元（500点），7天卡20元（2000点），30天卡60元（6000点），自选天数价格自动最小化，独享版一个起开</td>
        <td width="10%" style="text-align:center;"><a href="{:U('Good/create_wuji_single')}" class="btn btn-mini  btn-success">我要开卡</a></td>
    </tr>
    <tr>
        <td colspan="4"><a href="http://down.54nb.com/%CE%DE%BC%ABWUJI_Android/wuji_0517b_a.apk">安卓共享版下载</a>&nbsp;&nbsp;<a href="ttp://down.54nb.com/%CE%DE%BC%ABWUJI_Android/wuji_180805a_a.apk">安卓共享版本下载(免Root)</a>&nbsp;&nbsp;<a href="http://down.54nb.com/%CE%DE%BC%ABWUJI_Android/wuji_duli_180815a_a.apk">安卓独享版下载&nbsp;&nbsp;</a><a href="http://down.54nb.com/%CE%DE%BC%ABWUJI_Android/wuji_duli_v_180815a_a.apk">安卓独享版下载(免Root)</a>&nbsp;&nbsp;<a href="http://down.54nb.com/%CE%DE%BC%ABWUJI_Android/wuji_sdk_2.0.zip">SDK下载</a>&nbsp;&nbsp;<a id="wuji_ios" data-toggle="popover" data-placement="bottom" data-original-title="" title="">IOS版下载</a></td>
    </tr>
    </tbody></table>

<table class="table table-bordered  definewidth m40 tC7"> <!--------------------------------变机宝-->
    <tbody><tr>
        <th colspan="4" style="background-color:#F5F5F5;"><img src="/Public/admin/images/bjb.png" class="L"><span class="family f24 L" style="margin:10px 0 0 10px;">变机宝</span></th>
    </tr>
    <tr>
        <td width="10%">变机宝</td>
        <td>价格说明：以机器为倍数，30天卡60元（6000点），带虚拟IP功能的120元（12000点）</td>
        <td width="10%" style="text-align:center;"><a href="{:U('Good/create_bjb')}" class="btn btn-mini btn-success">我要开卡</a></td>
    </tr>
    <tr>
        <td colspan="4"><a href="http://down.54nb.com/%B1%E4%BB%FA%B1%A6/bjb_0326b_a.apk">安卓版下载</a>&nbsp;&nbsp;<a id="bjb_ios" data-toggle="popover" data-placement="bottom" data-original-title="" title="">IOS版下载</a></td>
    </tr>
    </tbody></table>

<table class="table table-bordered  definewidth m40 tC7"> <!--------------------------------硬件大师-->
    <tbody><tr>
        <th colspan="4" style="background-color:#F5F5F5;"><img src="/Public/admin/images/ds.png" class="L"><span class="family f24 L" style="margin:10px 0 0 10px;">硬件大师</span></th>
    </tr>
    <tr>
        <td width="10%">硬件大师</td>
        <td>价格说明：以机器为倍数，30天卡28元（2800点）</td>
        <td width="10%" style="text-align:center;"><a href="{:U('Good/create_hardsoft')}" class="btn btn-mini  btn-success">我要开卡</a></td>
    </tr>
    <tr>
        <td colspan="4"><a href="http://down.54nb.com/%BE%F2%BD%F0%D3%B2%BC%FE%D0%DE%B8%C4%B4%F3%CA%A6.zip">硬件大师下载</a></td>
    </tr>
    </tbody></table>




<script src="__WUJI__/js/jquery.min.js">
</script>
<script src="__WUJI__/js/bootstrap.min.js">
</script>

<script>
    $(function () {
        $('#wuji_ios').popover({
            trigger : 'hover',//鼠标以上时触发弹出提示框
            html:true,//开启html 为true的话，data-content里就能放html代码了
            content:"<img src='http://54nb.com/wuji/images/code.png' width='81' height='81'>"
        });
        $('#bjb_ios').popover({
            trigger : 'hover',//鼠标以上时触发弹出提示框
            html:true,//开启html 为true的话，data-content里就能放html代码了
            content:"<img src='http://54nb.com/bian/images/ios.png' width='81' height='81'>"
        });

    });
</script>
</body>
</html>